body{ 
    display: flex;
    justify-content: center;
    background: #2e383a;
}

.main{
    background: #08373a;
    border: #08373a 1px solid;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.info{
    width: 100%;
    margin: 30px 1px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-button{
    background-color: #08373a; 
    color: grey;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    border: 2px solid #08373a;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
} 

.main-button:hover {
    background-color: grey;
    color: #08373a;
}
