<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/change.js') }}"></script>
</head>
<body>
    <div id="info">
    </div>
    <div id="change">
        <form id="form" enctype="multipart/form-data">
            <h2>Изменение:</h2>
            <p>Пользователь:<br>
                <input type="text" id="id-field" name="id-field" required>
            </p>
            <p>Введите название поля:<br>
                <input type="text" id="name-field" name="name-field" required>
            </p>
            <p>Введите значение поля:<br>
                <input type="text" id="value-field" name="value-field" required>
            </p>
            <input class="form-button" type="submit" value="Отправить" >
        </form>
    </div>
</body>
</html>