<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <meta charset="utf-8">
        <link id="css_theme" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    </head>
    <body>
        <div class="main">
            <div class="info">
                <h2 id="header"></h2>
                <div id="profile"></div>
                <form id="form">
                </form>
                <a href="/"><button class="main-button">Назад</button></a>
                <button id="theme" class="main-button">Сменить тему</button>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/theme_2.js') }}"></script>
</html>